.footer {
  background-color: #0f0f0f;
  color: #fff;
  padding: 40px 20px;
  font-family: sans-serif;
  margin-top: 80px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 100px auto;
}

.footer-logo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 50px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.footer-column p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #d1d1d1;
}

.social-icons span {
  font-size: 1.5rem;
  margin-right: 10px;
}

.app-badges img {
  width: 140px;
  margin-top: 10px;
  display: block;
  height: 35px;
}

.app-badges img + img {
  margin-top: 8px;
}

hr {
  margin: 30px 0;
  border: 0.5px solid #333;
}

.footer-bottom {
  font-size: 0.8rem;
  color: #aaa;
  padding-bottom: 50px;
}
