
.gold-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  /* padding: 3rem 1rem; */
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}


.gold-header img {
  height: 200px;
  width: 500px;
}

.zomato {
  color: white;
}

.gold {
  color: gold;
  font-weight: 900;
}

.subtitle {
  color: #e0a800;
  /* margin-top: 0.5rem; */
  font-size: 2rem;
  font-weight: 500;
}

.benefits {
  /* margin-top: 4rem; */
  /* background-color: yellow; */
}

.benefits h2.title {
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 10px;
  /* margin-bottom: 2rem; */
  margin: 10px;
}
.benefit-items {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}


.benefit {
  /* background: rgba(255, 255, 255, 0.05); */
  /* border-radius: 1rem; */
  /* padding: 1.5rem; */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 5px;
}


.benefit:hover {
  transform: scale(1.05);
}


.benefit .img-div{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0.5px solid gold;
}
.img-div img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.benefit .col{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  
}

.benefit h3 {
  font-size: 1.2rem;
  color: white;
  /* padding-bottom: 10px; */
}

.benefit .col p {
  font-size: 0.9rem;
  color: #e0a800;
  margin: 0;
  /* padding-top: 5px; */
}

